a { text-decoration:none }

#menubar {
	background : olive;
}
#menubar ul { 
	margin : 10;
	padding : 100;
	width : 800px; 
}
#menubar ul li {
	display : inline-block; 
	list-style-type : none; 
	padding : 10px 30px; 
}
#menubar ul li a {
	color : white; 
  	text-decoration : none; 
}


#menubar ul li a:hover {
 	color : violet;  
}

.aside 
    { position: absolute; 
      right: 0; 
      top: 500; 
      display: flex;
      width: 300px;
      color: black;
      text-align: center;
      background: #6DD66D;
      height: 86%;
      border-radius: 30px;
      text-decoration : none;  }


.intro_text
{
    width: 70%;
    margin: auto;
    margin-left: 400px;
}

    
.main_text0
{ margin-left: 0;
  list-style: none;
  text-decoration-line: none;
  overflow:auto;
}

.text
{ margin-left: 200px;
  list-style: none;
  text-decoration-line: none;
}

.main
{     position: absolute; 
      right: 300; 
      top: 500; 
      display: flex;
      color: black;
      text-align: center;
      background: #6DD66D;
      height: 86%;

}
      


.contact
{
    width: 70%;
    margin: auto;
    margin-left: 400px;
}

.about_intro
{
    width: 70%;
    margin: auto;
    margin-left: 300px;
}